.buttons {
    display: flex;
    list-style-type: none;
    padding: 20px;
    grid-gap: 20px;
}

.buttons__button {
    border: none;
    background-color: initial;
    color: #008080;
    font-size: 18px;
    transition: 1s;
    cursor: pointer;
}

.buttons__button:hover {
    color: #01b2b2;
}

.buttons__button:active {
    color: #01b2b2;
}

.buttons__button:disabled{
    color:#dddf;
}

@media (max-width:767px) {
    .buttons {
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: center;
    }
}